<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="camera_bracket_adapter" params="prefix parent">
    
    <joint name="${prefix}camera_bracket_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}camera_bracket_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}camera_bracket_link">
      <visual>
        <origin xyz="0 0 0" rpy="${-pi/2} ${-pi/2} ${pi}"/>
        <geometry>
          <mesh filename="package://ur_setup_bringup/meshes/bracket/ur_D435i_BRACKET.STL" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="bracket_black">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${-pi/2} ${-pi/2} ${pi}"/>
        <geometry>
          <mesh filename="package://ur_setup_bringup/meshes/bracket/ur_D435i_BRACKET.STL" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.10986"/>
        <origin xyz="0.00305 -0.000006 0.01471" rpy="0 0 0"/>
        <inertia ixx="6.3451e-08" ixy="1.0278e-12" ixz="-3.4271e-10" 
                 iyy="4.7453e-08" iyz="-2.1210e-12" izz="1.6896e-08"/>
      </inertial>
    </link>

    <joint name="${prefix}camera_mounting_point_joint" type="fixed">
      <parent link="${prefix}camera_bracket_link"/>
      <child link="${prefix}camera_mounting_point"/>
      <origin xyz="0 -0.062 0.015" rpy="0 ${-pi/2} ${pi/2}"/>
    </joint>

    <link name="${prefix}camera_mounting_point"/>

    <joint name="${prefix}gripper_mounting_point_joint" type="fixed">
      <parent link="${prefix}camera_bracket_link"/>
      <child link="${prefix}gripper_mounting_point"/>
      <origin xyz="0 0 0.008" rpy="0 0 ${pi/2}"/>
    </joint>

    <link name="${prefix}gripper_mounting_point"/>

    <gazebo reference="${prefix}camera_bracket_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>

</robot>
